/* --------BASE STYLES-------- */

* {
    text-decoration: none;
    list-style-type: none;
}
header,
#alert {
    background: #7477bf;
    color: white;
}

nav {
    background: #4d4c72;
}

#alert {
    width: 90%;
    border-radius: 5px;
    height: 40px;
}
svg {
    width: 30px;
    height: 30px;
    fill: white;
}

section {
    border-bottom: solid 1px black;
}

.social-container {
    background: lightgray;
}

.form-field,
.form-area,
.button-primary,
#cancel,
#send {
    background: lightgray;
    width: 90%;
    margin: 5px;
    height: 50px;
    border-radius: 6px;
}
.form-area {
    height: 150px;
}

.button-primary,
#send {
    background-color: #7477bf;
    color: white;
}

#save,
#cancel {
    width: 45%;
}


/* ----------------LAYOUT-------------- */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main";
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}


/* ----------------MEDIA QUERY-------------- */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "nav main";
    }
    main {
        grid-template-columns: 50%;
    }
    .traffic, .social {
        grid-column: 1 / span 2;
    }
    .daily, .members, .message {
        grid-column:  1 / span 1;
    }
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
    .widget-container-full{
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
}