/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  list-style-type: none;
}

body {
  background: #121212;
  color: rgba(255,255,255, .87);
  fill: #bb86fc;
  min-width: 320px;
  margin: 0 auto;
}
main div {
  padding: 10px;
}

header svg {
  width: 2rem;
}
nav svg {
  width: 2.5rem;
  height: 2.5rem;
}
.social-image {
  width: 7.5rem;
}

/* ============================================= */
/*                   HEADER                      */
/* ============================================= */


header {
  grid-column: 1 / -1;
  min-height: 30px;
  padding: 5px;
  text-align: center;
}


.header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.logo {
    display: block;
    margin-right: auto;
    color: #fff;
    font-size: .75rem;
}

.header li {
  padding: 5px 5px 0px 5px;
}
.header img {
  height: 35px;
  border-radius: 50%;
}

#notification {
  position: relative;
  height: 3rem;
  width: 3rem;
  transition: transform .3s ease-out;
  padding-top: 10px;
  border-right: 1px solid #bb86fc;
}

#notification:hover {
  animation: ding .5s ease-out;
  transform: rotate(0deg)
}

span .badge {
  display: none;
  position: absolute;
  top: 10px;
  right: 12px;
  padding: 4px 4px;
  border-radius: 50%;
  background: green;
}

span .active {
  display: block;
}

/* ============================================= */
/*                   NAVIGATION                  */
/* ============================================= */


nav {
  background: #bb86fc;
  fill:  rgba(255,255,255, .87);
  width: 100%;
  padding: 0 10px;
}

.nav {
  grid-area: nav;
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-direction: row;
  justify-content: center;
}

.nav li {
  margin: 0 1rem;
  padding: 7px 0 0 0;
}

/* ============================================= */
/*                  MAIN HEADER                  */
/* ============================================= */

.main-header {
    grid-area: header;
    display: grid;
    padding-top: 0px;
    padding-right: 0px;
    grid-template-areas:
    "tab search"
    "alert alert";
}


/* ============================================= */
/*                MEDIA QUERIES                  */
/* ============================================= */

@media screen and (min-width: 768px) {
  .nav li {
      margin: .5rem 0;
      padding: 0 0 0 7px;
  }
}