/* >>>>>>>>>BASE STYLES >>>>>>>>>>*/

* {
    color: white
}


body {
    background-color: #1f1f1f;
    margin: 0 auto;
}
.ele {
    background-color: lightgreen;
    padding: 20px;
    margin: 20px;
}

.div {
    /* background-color:  */
    padding: 20px;
    margin: 20px;
}

svg {
    fill:  #bb86fc; 
    max-height: 70px; 
}

.header {
    background-color: #2f2f2f;
    padding: 0.5rem;
    width: 100%;
    margin: 0px;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 4;
    grid-template-areas: "title" "bell" "profilePicture" "studentName";
}

#title {
    grid-area: title;
}
.bell {
   grid-area: bell; 
}
#profilePicture {
    grid-area: profilePicture;
}
#studentName {
    grid-area: studentName;
}
.nav {
    background-color: lightseagreen;
}

.main {
    background-color: lightcoral;
}

.icon {
    max-width: 60px;
}

#profile {
    grid-area: profile ;
}