

svg, {
    max-width: 20px;
    max-height: 20px;
}

img {
    max-width: 100%;
}
.grid-container {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
}

.main {
    grid-area: main;
    display: grid;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main";
    }
    .main {
        grid-template-columns: 50%;
    }
    .traffic, .social {
        grid-column: 1 /span 2;
    }
    .daily,.members, .message {
        grid-column: 1 /span 1;
    }
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
    .widget-container-full{
        width:90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
}