/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  list-style-type: none;
}

body {
  background: #121212;
  color: rgba(255,255,255, .87);
  fill: #bb86fc;
  min-width: 320px;
  margin: 0 auto;
}
main div {
  padding: 10px;
}

header svg {
  width: 2rem;
}
nav svg {
  width: 2.5rem;
  height: 2.5rem;
}
.social-image {
  width: 7.5rem;
}

a:visited {
  color: #bb86fc
}


/* ============================================= */
/*                   HEADER                      */
/* ============================================= */


header {
  grid-column: 1 / -1;
  min-height: 30px;
  padding: 5px;
  text-align: center;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.logo {
    display: block;
    margin-right: auto;
    color: #fff;
    font-size: .75rem;
}

.header li {
  padding: 5px 5px 0px 5px;
}
.header img {
  height: 45px;
}

#notification {
  position: relative;
  height: 3rem;
  width: 3rem;
  transition: transform .3s ease-out;
  padding-top: 10px;
  border-right: 1px solid #bb86fc;
}

#notification:hover {
  animation: ding .5s ease-out;
  transform: rotate(0deg)
}

span .badge {
  display: none;
  position: absolute;
  top: 10px;
  right: 12px;
  padding: 4px 4px;
  border-radius: 50%;
  background: green;
}

span .active {
  display: block;
}

section {
  background: #2e2e2e;
  margin: 10px;
  border-radius: 20px;
}

/* ============================================= */
/*                   NAVIGATION                  */
/* ============================================= */


nav {
  background: #bb86fc;
  fill:  rgba(255,255,255, .87);
  width: 100%;
  padding: 0 10px;
}

.nav {
  grid-area: nav;
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-direction: row;
  justify-content: center;
}

.nav li {
  margin: 0 1rem;
  padding: 7px 0 0 0;
}
/* ============================================= */
/*                  MAIN GRID                    */
/* ============================================= */


/* main {
  grid-area: main;
  display: grid;
  min-width: 0;
  grid-template-areas:
  "header"
  "traffic"
  "daily"
  "mobile"
  "social"
  "members"
  "activity"
  "message"
  "settings";
} */

.main-header {
  grid-area: header;
}

#traffic-list {
  grid-area: traffic;
}

#daily {
  grid-area: daily;
}

#mobile {
  grid-area: mobile;
}

#social {
  grid-area: social;
}

#members {
  grid-area: members;
}

#activity {
  grid-area: activity;
}

#message {
  grid-area: message;
}

#settings { 
  grid-area: settings
}


/* ============================================= */
/*                  MAIN HEADER                  */
/* ============================================= */

.main-header {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 0;
    font-size: .9rem;
    grid-template-areas:
    "tab search"
    "alert alert";
}

.headline {
  grid-area: tab;
  padding: 0 10px ;
}

.main-header-search  {
  padding: 0;
  background: #2e2e2e;
  display: flex;
  justify-content: flex-end;
  grid-area: search;
}

.main-header-search input {
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: large;
  font-weight: bold;
  color: rgba(255,255,255,);
}

.alert {
  width: 100%;
  grid-area: alert;
}

.alert-banner {
  color: rgba(255,255,255,.87);
  background: #bb86fc;
  border-radius: 5px;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
}

.alert-banner {
  padding: 10px;
}

.closebtn {
  margin-right: auto;
}


/* ============================================= */
/*                    CHARTS                     */
/* ============================================= */

#traffic-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.traffic-nav {
  padding-left: 0;
  margin: 0;
  display: flex;
}

.traffic-link {
  margin: 5px auto;
  padding: 5px;
  cursor: pointer;
}

#social-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.widget-container-full,
.widget-container-half{
  margin: 20px;
  padding: 5px;
}

/* ============================================= */
/*                SOCIAL STATS                   */
/* ============================================= */

#social {
  grid-area: social;
}
.social-container {
  display:grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 2fr;
  padding: 20px 0 0;
  width: 100%;
  height:200px;
  border: solid 2px #bb86fc ;
  border-radius: 10px;
  margin: 1rem auto;
}

.social-image  {
  grid-row: 1 / -1;
  margin: auto;
}

#members img,
#activity img {
  border-radius: 100%;
}
.social-stat {
  font-size: 50px;
  margin:0 auto;
}


h3 {
  padding: 15px;
}


/* ============================================= */
/*              MEMBERS & ACTIVITY               */
/* ============================================= */

.members-container,
.activity-container {
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 0;
  margin: 10px;
  border-bottom: 1px solid #bb86fc;
}

.members-container:last-child,
.activity-container:last-child{
  border: none;
}


.members-container {
  grid-template-areas: 
  "profile"
  "name"
  "email"
  "date";
}
.activity-container {
  grid-template-areas: 
  "profile"
  "activity"
  "time";
}



/* ============================================= */
/*                MEDIA QUERIES                  */
/* ============================================= */

@media screen and (min-width: 768px) {
  .nav li {
      margin: .5rem 0;
      padding: 0 0 0 7px;
  }
}