html,
* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    background: #121212;
    color: rgba(255, 255, 255, .87);
    fill: #bb86fc;
    text-align: center;
    font-size: 10px;
    padding: 0;
    border-radius: 20px;
}

ul {
    padding:0;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

.header {
    grid-area: header;
    display: flex;
    grid-template-rows: auto;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
}
header #bell,
header h3 {
    padding-top: 7.5px;
}


.navigation {
    grid-area: navigation;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: #bb86fc;
    padding: 10px;
    fill: rgba(255, 255, 255, .87);
}

.main {
    grid-area: main;
    display: grid;
}

.main-header {
    display: inline-flex;
    justify-content: space-evenly;
}
.main-header-search,
.main-header-search input{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .10);
    border: none;
}
.headline {
    padding: 10px;
}

.alert-banner {
    background: #bb86fc;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.widget-container-full, .widget-container-half {
    width: 95vw;
    }
    
svg {
    height: 30px;
}

img {
    border-radius: 100%;
    max-height: 50px;
}




@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main";
      }

    .main {
        grid-template-columns: 50%;

    }
    .traffic, .social {
        grid-column: 1 / span 2;
    }
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }   
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
    .widget-container-full {
        width: 90vw;
    }
        .widget-container-half {
        width: 45vw;
    }
    .header {
        display: flexbox;
        justify-content: space-between;        
    }
    h1 {
        flex-grow: 1;
        text-align: left;
    }

    header h3,
    #bell,
    header img {
        margin: 10px;
    }
    .navigation {
        flex-direction: column;
        justify-content: flex-start;
    }
    .navigation svg {
        margin-bottom: 20px;
    }
    
}