/* -----------BASE STYLES -----------*/
* {
    box-sizing: border-box;
    color: #fff;
    list-style-type: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    font-weight: light;

}


.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
    background-color: #1f1f1f;
}

.header {
    grid-area: header;
    background-color: #2f2f2f;
    padding: 10px;
}

.navigation ul{
    background-color: black; 
    justify-content: space-between; 
    padding: 10px;
}

.header, 
.navigation ul {
    display: flex;
    margin: 0 auto;
    justify-content:space-evenly;
    align-items: center;
}


.navigation {
    grid-area: navigation
}

.main-header {
    display: grid;
    grid-template-areas: "headline search";
}
.headline {
    grid-area: headline;
    font-size: large;
}

.main-header-search {
grid-area: search;
}

.main-header-search input {
    width: 100%;
    height: 91%;
    background-color: black;
}


.main {
    grid-area: main;
    display: grid;
    width: 90%;
    margin: 0 auto;

}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

.alert {
    background-color: #bb86fc;
    padding: 1px;
    font-size: xx-small;
    width: 80%;
    margin: 0 auto;

}

svg {
    fill:  #bb86fc; 
    max-height: 100px; 
    max-width: 100px;
}

svg:hover {
    fill: #ddc3fe;
}


.icon {
    max-height: 70px; 
}

.profile-image {
    border-radius: 100%;
    height: 50px;
}

#profile-picture img {
    border-left: solid 5px red;
}

.vl {
    border-left: 1px solid #bb86fc;
    height: 30px;
}
  
  .bell {
    position: relative;
    display: inline-block;
  }

  .bell .badge {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 1.25px 2.5px;

    background: lightgreen;
    color: white;

    height: 7.5px;
    width: 7.5px;
    border-radius: 50%;
    display: inline-block;
  }



/* -----------MEDIA QUERY -----------*/

/* @media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main";
    }
    .main {
        grid-template-columns: 50%;
    }
    .traffic, .social {
        grid-column: 1 / span 2;
    }
    .daily, 
    .members, 
    .message {
        grid-column: 1 /span 1;
    }
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
} */
/* --------- TOGGLE SWTICHES ---------*/
.onoffswitch {
    position: relative; width: 200px;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 63px; padding: 0; line-height: 63px;
    font-size: 40px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #BB86FC; color: #2F2F2F;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #2F2F2F; color: #BB86FC;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 50px; margin: 6.5px;
    background: #2F2F2F;
    position: absolute; top: 0; bottom: 0;
    right: 133px;
    border: 2px solid #999999; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}



