/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  list-style-type: none;
}

body {
  background: #121212;
  color: rgba(255,255,255, .87);
  fill: #bb86fc;
  min-width: 320px;
  margin: 0 auto;
}
main div {
  padding: 10px;
}

header svg {
  width: 2rem;
}
nav svg {
  width: 2.5rem;
  height: 2.5rem;
}
.social-image {
  width: 7.5rem;
}

a:visited {
  color: #bb86fc
}

section {
  background: #2e2e2e;
  margin: 10px;
  border-radius: 20px;
}

/* ============================================= */
/*                   HEADER                      */
/* ============================================= */


header {
  grid-column: 1 / -1;
  min-height: 30px;
  padding: 5px;
  text-align: center;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.logo {
    display: block;
    margin-right: auto;
    color: #fff;
    font-size: .75rem;
}

.header li {
  padding: 5px 5px 0px 5px;
}
.header img {
  height: 45px;
}

#notification {
  position: relative;
  height: 3rem;
  width: 3rem;
  transition: transform .3s ease-out;
  padding-top: 10px;
  display:block
}

#notification:hover {
  animation: ring .5s ease-out;
  transform: rotate(0deg)
}

@keyframes ring {
  0% {
    transform: rotate(15deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(15deg);
  }
  90% {
    transform: rotate(0deg);
  }
}


.badge {
  display: none;
  position: absolute;
  top: 10px;
  right: 12px;
  padding: 4px 4px;
  border-radius: 50%;
  background: green;
}

.active {
  display: block;
}

.profile-image {
  border-left: 1px solid #bb86fc;
}



/* ============================================= */
/*                     BELL                      */
/* ============================================= */

/* bell animation */



/* ============================================= */
/*                   NAVIGATION                  */
/* ============================================= */


nav {
  background: #bb86fc;
  fill:  rgba(255,255,255, .87);
  width: 100%;
  padding: 0 10px;
}

.nav {
  grid-area: nav;
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}

.nav li {
  margin: 0 auto;
  padding: 7px 0 0 0;
}
/* ============================================= */
/*                     GRID                      */
/* ============================================= */

body {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
  "header"
  "navigation"
  "main";
}

main {
  grid-area: main;
  display: grid;
  overflow: hidden; 
  grid-template-columns: 1fr fit-content(20%);
  grid-template-areas:
  "header"
  "traffic"
  "daily"
  "mobile"
  "social"
  "members"
  "activity"
  "message"
  "settings";
}

.main-header {
  grid-area: header;
}

#traffic-list {
  grid-area: traffic;
}

#daily {
  grid-area: daily;
}

#mobile {
  grid-area: mobile;
}

#social {
  grid-area: social;
}

#members {
  grid-area: members;
}

#activity {
  grid-area: activity;
}

#message {
  grid-area: message;
}

#settings { 
  grid-area: settings
}


/* ============================================= */
/*                  MAIN HEADER                  */
/* ============================================= */

.main-header {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 0;
    font-size: .9rem;
    grid-template-areas:
    "tab search"
    "alert alert";
}

.headline {
  grid-area: tab;
  padding: 0 10px ;
}

.main-header-search  {
  padding: 0;
  background: #2e2e2e;
  display: flex;
  justify-content: flex-end;
  grid-area: search;
}

.main-header-search input {
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: large;
  font-weight: bold;
  color: rgba(255,255,255,);
}

.alert {
  width: 100%;
  grid-area: alert;
}

.alert-banner {
  color: rgba(255,255,255,.87);
  background: #bb86fc;
  border-radius: 5px;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
}

.alert-banner {
  padding: 10px;
  margin: 10px;
}

.closebtn {
  margin-right: auto;
}


/* ============================================= */
/*                    CHARTS                     */
/* ============================================= */

#traffic-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.traffic-nav {
  padding-left: 0;
  margin: 0;
  display: flex;
}

.traffic-nav li {
  margin: 5px auto;
  padding: 5px;
  cursor: pointer;
}

#social-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.widget-container-full,
.widget-container-half{
  width: 95vw;
  padding: 5px;
}

.showMe {
  background: green;
  padding: 5px;
  border-radius: 10px;
}

/* ============================================= */
/*                SOCIAL STATS                   */
/* ============================================= */

#social {
  grid-area: social;
}
.social-container {
  display:grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 2fr;
  padding: 20px 0 0;
  width: 100%;
  height:200px;
  border: solid 2px #bb86fc ;
  border-radius: 10px;
  margin: 1rem auto;
}

.social-image  {
  grid-row: 1 / -1;
  margin: auto;
}

#members img,
#activity img {
  border-radius: 100%;
}
.social-stat {
  font-size: 50px;
  margin:0 auto;
}


h3 {
  padding: 15px;
}


/* ============================================= */
/*              MEMBERS & ACTIVITY               */
/* ============================================= */

.members-container,
.activity-container {
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 0;
  margin: 10px;
  border-bottom: 1px solid #bb86fc;
}

.members-container:last-child,
.activity-container:last-child{
  border: none;
}


.members-container {
  grid-template-areas: 
  "profile"
  "name"
  "email"
  "date";
}
.activity-container {
  grid-template-areas: 
  "profile"
  "activity"
  "time";
}

/* ============================================= */
/*                   MESSAGE                     */
/* ============================================= */

#message input,
textarea,
#send {
  background-color: #121212;;
  color: rgba(255,255,255, .87);
  font-weight: bolder;
  width: 90%;
  margin: 10px;
  border-radius: 6px;
  height: 3rem;
}

#message textarea {
  height: 7.5rem;
  overflow: auto;
}

#send {
  background-color: #bb86fc;
}


/* ============================================= */
/*                   SETTINGS                    */
/* ============================================= */

#settings {
  padding: 5px;
  justify-content: space-evenly;
}

#settings {
  font-size: small;
}
#settings span {
  display: block;
  float: right;
  max-width: 100px;
}

#settings label {
  margin-bottom: 20px;
}

#settings h3 {
  font-size: 20px;
  margin-bottom: 70px;
}
.switch-ios.switch-light input:checked ~ span {
  border-color: #bb86fc;
  box-shadow: inset 0 0 0 30px #bb86fc;
}

.switch-ios.switch-light input:checked ~ span a {
  border-color: #bb86fc;
}

#timezone {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
  background: #121212;
  color:rgba(255,255,255, .87);

}

#save,
#cancel {
  width: 49%;
  margin: 0 auto;
  height: 50px;
  font-weight: bold;
  font-size: large;
  
} 

#save {
  background: #bb86fc;
  color: rgba(255,255,255, .87);
}

/* ============================================= */
/*                MEDIA QUERIES                  */
/* ============================================= */

@media (min-width: 768px) {
  .nav {
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 0;
  }
  .nav li{
    padding-bottom: 20px;;
  }
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
  body {
    grid-template-columns: 55px 1fr;
    grid-template-areas: 
      "header header"
      "nav main";
  }
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "traffic traffic"
        "daily mobile"
        "social social"
        "members members"
        "activity activity"
        "message message"
        "settings settings";
  }
  #social-row {
    flex-direction: row;
  }
  .social-container {
    width: 30%;
    padding: 0;
    margin: 0
  }
  .social-image {
    width: 4rem;
    padding: 0 0 0 5px;
  }
  #settings span {
    margin-right: 40px;
  }
  .members-container {
      grid-template-columns: 1fr 8fr 1fr;
      justify-items: initial;
      grid-template-areas:
          "profile name date"
          "profile email date";
  }
  .member-text {
    text-align: left;
  }
  .traffic, .social {
    grid-column: 1 / span 2;
  }
  .daily, .members, .message {
    grid-column: 1 / span 1; 
  }
  .mobil, .activity, .settings {
    grid-column: 2 /span 1;
  }  
}


@media (min-width: 1024px) {
  main {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          "header header"
          "traffic traffic"
          "daily mobile"
          "social social"
          "members activity"
          "message settings";
  }
}

