* {
    /* background-color: #2f2f2f; */
    color: white
}


.ele {
    background-color: lightgreen;
    padding: 20px;
    margin: 20px;
}

.div {
    /* background-color:  */
    padding: 20px;
    margin: 20px;
}

svg {
    fill:  #bb86fc;  
}

.header {
    background-color: #1f1f1f;
    padding: 0.5rem;
    width: 100%;
    margin: 0px;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 4;
}

.nav {
    background-color: lightseagreen;
}

.main {
    background-color: lightcoral;
}

.icon {
    max-width: 60px;
}

#profile {
    grid-area: profile ;
}