/* ============================================= */
/*                  Colors                       */
/* ============================================= */
$primary-color: #bb86fc;
$secondary-color: #7f39fb;
$window-color: #2e2e2e;
$background-color: #121212;
$font-light: rgba(255, 255, 255, .87);
$font-medium: rgba(255, 255, 255, .60);
$disabled: rgba(255, 255, 255, .38);






$main: #CF8DAB;
$main-dark: #CA2085;
$main-light: #fcddf3;
$active: #5FBAAF;
$accent-one: #D29506;
$accent-two: #55414A;
$light: white;
$off-light: #fcedf7;
$font-light: white;
$font-medium: grey;
$font-dark: rgb(75, 75, 75);


/* ============================================= */
/*              Other Variables                  */
/* ============================================= */

$screen-break-small: 768px;
$screen-break-large: 1024px;

$font-size-xlarge: 40px;
$font-size-large: 25px;
$font-size-medium: 15px;
$font-size-small: 12px;
$font-size-tiny: 10px;