/* ============================================= */
/* Imports */
/* ============================================= */
@import 'normalize';
@import 'typography';



/* ============================================= */
/* Base Styles */
/* ============================================= */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    background-color: $background-color;
    color: $font-light;
  }
    
  main > div {
    padding: 10px;
  }



