/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
    box-sizing: border-box;
}


body {
    background: #121212;
    color: rgba(255, 255, 255, .87);
    fill: #bb86fc;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p, label {
    font-size: 1rem;
}

input,
textarea,
button,
select,
option {
    padding: 10px;
    border-radius: 15px;
}

svg {
    height: 30px;
}